export PRIVATE_KEY=

export ROOTSTOCK_RPC_URL=https://rpc.testnet.rootstock.io/IZszDIaYFFiHcjVPDtTtNRaHLjAU5r-T
export ROOTSTOCK_TESTNET_RPC_URL=https://rpc.testnet.rootstock.io/IZszDIaYFFiHcjVPDtTtNRaHLjAU5r-T
export SEPOLIA_RPC_URL=

export API_KEY_ETHERSCAN=
export API_KEY_ROOTSTOCK=
export BLOCKSCOUT_API_KEY=1916205c-4337-4e52-8155-54983011c4f9
export BLOCKSCOUT_TESTNET_API_KEY=1916205c-4337-4e52-8155-54983011c4f9


